
    body{
      margin: 0px;
      background-color: rgb(200, 200, 200);
  }
  *{
      margin: 0px;
      padding: 0px;
      box-sizing: border-box;

  }

  .navbar ul{
      list-style-type:none;
      background-color: rgb(82, 82, 82);
      padding: 0px;
      margin: 0px;
      overflow: hidden;

  }
  .navbar a{
      color: white;
      text-decoration: none;
      padding: 15px;
      display: block;
      text-align: center;
      
  }
  .navbar a:hover{
      background-color: rgb(175, 10, 10);
  }
  .navbar .navleft{
      float: left;
      margin-left:20px ;
  }
  .navbar .navright{
    float: right;
    margin-right: 20px;
}


    .card-conatiner{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 100px;
    }
    .card{
      width: 325px;
      background-color: #a3a3a3;
      border-radius:8px;
      overflow: hidden;
      box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
      margin:20px;
    }
    .card img{
      width: 330px;
      height: 300px;
    }
    .card-content{
      padding: 16px;
    }
    .card-content h3{
      font-size: 28px;
      margin-bottom:8px ;
      
      }
    .card-content p{
  color: #666;
  font-size: 15px;
  line-height: 1.3;
    }
    .card-content .btn {
      display: inline-block;
      padding:8px 16px ;
      background-color: rgb(175, 10, 10);
      text-decoration: none;
      border-radius: 4px;
      margin-top: 16px;
      color:#f0f0f0 ;
    }
    #contact>div{
      display: inline-block;
      margin-left: 120px;
      color: #f0f0f0;
  }
  #contact{
      background-color: rgb(82, 82, 82);
  }
  #contact a{
      text-decoration: none;
      color:white;
  }
  #contact a:hover{
      background-color:rgb(175, 10, 10) ;
  }
  .wrapper img {
      max-width: 500px;
      float:left;
      border: 3px solid rgb(175, 10, 10);
      border-radius: 10px;
      margin-right: 15px;
  }
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 20px;
  }
  .text-box .btn{
      display: inline-block;
      padding:8px 16px ;
      background-color: rgb(175, 10, 10);
      text-decoration: none;
      border-radius: 4px;
      margin-top: 16px;
      color:#f0f0f0 ;
      position: relative;
      left:400px;
      }
  .text-box{
      position: relative;
      
  }
  